*~
.project
.classpath
.settings
.checkstyle
.DS_Store
.reviewboardrc
*.iml
*.log
.idea/
.metadata/
.m2/
.mvn/wrapper/maven-wrapper.jar
.recommenders/
.*.swp
jacoco.exec
target/
/build/
/target/
/*/target/
/*/*/target/
/*/*/*/target/
/*/*/*/*/target/
/temp/
/tags
.python_env
.temp
**/bin/
.factorypath
data